body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    text-align: center;
}

.menu-title {
    margin-top: 40px;
    font-size: 40px;
}

.category-filter {
    margin: 30px 0;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    background: #f4a261;
    color: white;
    transition: 0.3s;
}

.filter-btn:hover {
    background: #e76f51;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.menu-card {
    background: white;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}
.menu-card {
    width: 100%;
    max-width: 250px;
}

.menu-card img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.menu-card h3 {
    margin: 10px 0;
}

.buy-btn {
    background: #2a9d8f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.buy-btn:hover {
    background: #21867a;
}