{% extends "base.html" %}

{% block title %}Home | The Crown of Creation{% endblock %}

{% block content %}

<section class="hero-full">

    <img src="{{ url_for('static', filename='assets/images/homepage.jpg') }}" 
         class="hero-bg-img" 
         alt="Background">

    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>
            Where Tradition <br>
            <span>Meets Royal Taste</span>
        </h1>

        <p>
            Experience handcrafted delicacies prepared with heritage spices 
            and modern elegance.
        </p>

        <div class="hero-buttons">
            <a href="{{ url_for('menu') }}" class="btn btn-gold">Explore Menu</a>
            <a href="{{ url_for('menu') }}" class="btn btn-dark">Order Now</a>
        </div>
    </div>

</section>

<section class="specials">
    <h2>Our Royal Specials</h2>

    <div class="special-grid">
        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/Chicken Biryani.jpg') }}">
            <h3>Royal Biryani | ₹499</h3>
            <button>Add to Cart</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/Ghondhoraj Chicken momos.jpg') }}">
            <h3>Gondhoraj Chicken Momos | ₹199</h3>
            <button>Add to Cart</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/juicy double cheeseburger.jpg') }}">
            <h3>Juicy Double Cheeseburger | ₹210</h3>
            <button>Add to Cart</button>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/Papdi Chaat.jpg') }}">
            <h3>Papdi Chaat | ₹50</h3>
            <button>Add to Cart</button>
        </div>
    </div>
</section>

{% endblock %}