{% extends "base.html" %}

{% block title %}Menu | The Crown of Creation{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block content %}
<section class="menu-section">

<h1 class="menu-title">Our Menu</h1>

<!-- Category Filter -->
 
<div class="category-filter">
    <button class="filter-btn" data-category="all">All</button>
    <button class="filter-btn" data-category="Beverages">Beverages</button>
    <button class="filter-btn" data-category="Snacks">Snacks</button>
    <button class="filter-btn" data-category="Street Food">Street Food</button>
    <button class="filter-btn" data-category="Pizza & Burger">Pizza & Burger</button>
    <button class="filter-btn" data-category="Chinese & Student Combo">Chinese & Student Combo</button>
    <button class="filter-btn" data-category="Thali House"> Biryani & Thali House</button>
    <button class="filter-btn" data-category="Healthy Corner">Healthy Corner</button>
    <button class="filter-btn" data-category="Desserts & Sweets & Icecreams">Desserts & Sweets & Icecreams</button>
    


</div>

<!-- Menu Items -->
<div class="menu-container">


<div class="menu-card" data-category="Beverages">
        <img src="{{ url_for('static', filename='assets/images/Coffee.jpg') }}">
        <h3>Coffee</h3>
        <p>₹40</p>
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Beverages">
        <img src="{{ url_for('static', filename='assets/images/Cold Coffee.jpg') }}">
        <h3>Cold Coffee</h3>
        <p>₹100</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Beverages">
        <img src="{{ url_for('static', filename='assets/images/Classic Milk Tea.jpeg') }}">
        <h3>Classic Milk Tea</h3>
        <p>₹25</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>                                
    
<div class="menu-card" data-category="Beverages">
        <img src="{{ url_for('static', filename='assets/images/Mango Juice.jpeg') }}">
        <h3>Mango Juice</h3>
        <p>₹75</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
    
<div class="menu-card" data-category="Beverages">
        <img src="{{ url_for('static', filename='assets/images/Watermelon juice.jpeg') }}">
        <h3>Watermelon juice</h3>
        <p>₹65</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>










<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/samosa.jpg') }}">
        <h3>samosa</h3>
        <p>₹15/pc</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>



 <div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/Chicken pakora.jpg') }}">
        <h3>Chicken pakora</h3>
        <p>₹120/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>   


    
<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/veg cutlet.jpg') }}">
        <h3>veg cutlet</h3>
        <p>₹80/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/spiral potato.jpg') }}">
        <h3>spiral potato</h3>
        <p>₹50/pc</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>




<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/French Fries.jpg') }}">
        <h3>French Fries</h3>
        <p>₹40/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/Spring Roll.jpg') }}">
        <h3>Spring Roll</h3>
        <p>₹25/pc</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Snacks">
        <img src="{{ url_for('static', filename='assets/images/Cheese ball.jpg') }}">
        <h3>Cheese ball</h3>
        <p>₹20/pc</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>








    <div class="menu-card" data-category="Street Food">
        <img src="{{ url_for('static', filename='assets/images/Gol Gappa.jpeg') }}">
        <h3>Gol Gappaa</h3>
        <p>₹50/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Street Food">
        <img src="{{ url_for('static', filename='assets/images/Papdi Chaat.jpg') }}">
        <h3>Papdi Chaat</h3>
        <p>₹50/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Street Food">
        <img src="{{ url_for('static', filename='assets/images/Dahi puri.jpg') }}">
        <h3>Dahi puri</h3>
        <p>₹60/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Street Food">
        <img src="{{ url_for('static', filename='assets/images/BhelPuri.png') }}">
        <h3>Bhel puri</h3>
        <p>₹40/plate</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/veg pizza.jpg') }}">
        <h3>Veg Pizza</h3>
        <p>₹200/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/paneer tikka pizza.jpg') }}">
        <h3>Paneer Tikka Pizza</h3>
        <p>₹230/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Pepperoni pizza.jpg') }}">
        <h3>Pepperoni Pizza</h3>
        <p>₹250/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/margherita pizza.jpg') }}">
        <h3>Margherita Pizza</h3>
        <p>₹180/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Chicken pizza.jpg') }}">
        <h3>Chicken Pizza</h3>
        <p>₹270/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Corn pizza.jpg') }}">
        <h3>Corn Pizza</h3>
        <p>₹199/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Aloo Tikki Burger.jpg') }}">
        <h3>Aloo Tikki Burger</h3>
        <p>₹100/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Chicken Burger.jpg') }}">
        <h3>Chicken Burger</h3>
        <p>₹139/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Cheese Chicken Burger.jpg') }}">
        <h3>Cheese Chicken Burger</h3>
        <p>₹169/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/Veg Burger.jpg') }}">
        <h3>Veg Burger</h3>
        <p>₹89/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Pizza & Burger">
        <img src="{{ url_for('static', filename='assets/images/juicy double cheeseburger.jpg') }}">
        <h3>Juicy Double Cheese Burger</h3>
        <p>₹210/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
</div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Rainbow_detox_salad.jpg') }}">
        <h3>Rainbow Detox Salad</h3>
        <p>₹59/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Dosa.jpg') }}">
        <h3>Dosa</h3>
        <p>₹79/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Egg Protien Salad.jpg') }}">
        <h3>Egg Protien Salad</h3>
        <p>₹99/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/idly.jpg') }}">
        <h3>Idly</h3>
        <p>₹79/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Fruit Salad Bowl.jpg') }}">
        <h3>Fruit Salad Bowl</h3>
        <p>₹99/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Oatmeal Cereal.jpg') }}">
        <h3>Oatmeal Cereal</h3>
        <p>₹99/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/poha.jpg') }}">
        <h3>Poha</h3>
        <p>₹50/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>


<div class="menu-card" data-category="Healthy Corner">
        <img src="{{ url_for('static', filename='assets/images/Grilled Chicken Breasts.jpg') }}">
        <h3>Grilled Chicken Breasts</h3>
        <p>₹189/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/veg hakka noodles.jpg') }}">
        <h3>Veg Hakka Noodles</h3>
        <p>₹99/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Veg fried rice.jpg') }}">
        <h3>Veg  Fried Rice</h3>
        <p>₹99/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Veg manchurian.jpg') }}">
        <h3>Veg Manchurian</h3>
        <p>₹120/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Chicken Chowmein.jpg') }}">
        <h3>Chicken Chowmein</h3>
        <p>₹139/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Chicken manchurian.jpg') }}">
        <h3>Chicken Manchurian</h3>
        <p>₹199/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Chilli Chicken.jpg') }}">
        <h3>Chilli Chicken</h3>
        <p>₹190/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Chilli paneer.jpg') }}">
        <h3>Chilli Paneer</h3>
        <p>₹199/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Veg manchurian.jpg') }}">
        <h3>Veg Manchurian</h3>
        <p>₹120/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>
<div class="menu-card" data-category="Chinese & Student Combo">
        <img src="{{ url_for('static', filename='assets/images/Veg manchurian.jpg') }}">
        <h3>Veg Manchurian</h3>
        <p>₹120/-</p>
        <button class="buy-btn">Buy Now</button>
         <button class="cart-btn">Add to Cart</button>
    </div>

</section>
{% endblock %}
{%block extra_js %}

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
